<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/style.css">
    <title>Home</title>

</head>
<body>
    <div class="container">
        <img src="../static/TDI.png" alt="TDI" class="logo">

        <form action="/submit" method="POST">

            <div class="form-group">
                <h3> City </h3>
                <input type="text" name="city" placeholder="Enter City or Location"/>
            </div>

            <div class="form-group">
                <h3> Type of Data Science Jobs</h3>
                <select name="Job Type">
                    <option value="">Select one</option>
                    <option value="Data Engineering">Data Engineering</option>
                    <option value="Data Scientist">Data Scientist</option>
                    <option value="Data Analyst">Data Analyst</option>
                    <option value="Quantitative Analyst">Quantitative Analyst</option>
                    <option value="Machine Learning Researcher">Machine Learning Researcher Engineering</option>
                    <option value="Statistician">Statistician</option>
                </select>
            </div>

<!--            <input type="submit" value="Get latest job market trend" class="btn" />-->
            <input type="submit" value="Get insight on job market" class="btn" />

        </form>

    </div>

</body>
</html>